/* Font */
@import url(http://fast.fonts.com/cssapi/6a0a011f-117c-4e18-916a-b546139cf04c.css);

/* Default */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, h1, h2, h3, h4, h5, h6, input, textarea {margin:0;padding:0;border:0;outline:0;font-style:inherit;font-size:100%;font-family:inherit;list-style:none;text-align:left;font:inherit;}
body {background:url(../images/bg_body.jpg) repeat 0 0;background-color:#030303;color:#999;font-family:Arial, Courier, Helvetica, sans-serif;font-size:12px;line-height:16px;}
table {border-collapse:collapse;border-spacing:0;}
caption {display:none;}
hr {display:none;}
legend {display:none;}
a {color:#999;text-decoration:none;}
label {margin:0 10px 0 5px;cursor:pointer;}
em, i {font-style:normal;}
i {display:none;}
textarea {resize:none;}

/* layout */
.wrapper {width:960px;margin:0 auto;background:url(../images/bg_contents.jpg) repeat 0 0;}
.header {width:auto;height:172px;padding:0 20px;background:url(../images/bg_header.jpg) repeat 0 0;letter-spacing:-0.1em\9;}
.center {zoom:1;padding:20px 20px 0 18px;}
.center:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.side {float:left;width:142px;padding:0 0 85px 0;background:url(../images/bg_top.jpg) no-repeat 0 0;line-height:17px;font-size:12px;font-family:Courier;overflow:hidden;letter-spacing:-0.1em\9;}
.contents {float:right;width:755px;background:url(../images/bg_top.jpg) repeat-x 0 0;overflow:hidden;}
.footers {padding:10px 0 0 20px;background:url(../images/bg_header.jpg) repeat 0 0;}

/* header */
.hdinfo {zoom:1;height:128px;padding:20px 0 0 0;border-bottom:1px solid #333;}
.hdinfo:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.hdinfo h1 {float:left;width:128px;}
.hdinfo h1 a {display:block;width:104px;height:108px;background:url(../images/img_logo.png) no-repeat 0 0;}
.hdinfo .hdtxt {float:left;width:525px;height:58px;padding:34px 0 0 0;background:url(../images/img_freetxt.png) no-repeat right 18px;color:#404040;line-height:13px;font-size:11px;font-family:Courier;}
.hdinfo .hdtxt p {float:left;padding:0 17px 0 0;}
.hdinfo .hdsch {float:right;margin:9px 0 0 0;}
.hdinfo .hdsch .linkbox {zoom:1;}
.hdinfo .hdsch .linkbox:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.hdinfo .hdsch .linkbox ul {float:right;height:31px;font-size:11px;font-family:Courier;line-height:14px;}
.hdinfo .hdsch .linkbox ul li {float:left;height:20px;padding:5px 0 0 10px;}
.hdinfo .hdsch .linkbox ul li a {color:#404040;}
.hdinfo .hdsch .linkbox ul li a:hover, .hdinfo .hdsch .linkbox ul li .on {text-decoration:underline;color:#f1446f;}
.hdinfo .hdsch .linkbox ul .cart {padding-right:27px;background:url(../images/ico_cart.gif) no-repeat right 0;color:#f1446f;}
.hdinfo .hdsch .linkbox ul .cart a {color:#f1446f;}
.hdinfo .search {float:right;width:226px;height:31px;padding:0 0 0 1px;background:url(../images/bg_search.gif) no-repeat 0 0;}
.hdinfo .search .inp {float:left;width:191px;height:25px;margin:1px 0 0 0;padding:3px 0 0 3px;border:0;}
.hdinfo .search .submit {float:right;width:31px;height:31px;background:none;cursor:pointer;}
.gnb {padding:3px 0 0 3px;font-family:'Trade Gothic W01 Bold', sans-serif;font-size:14px;line-height:18px;letter-spacing:2px;}
.gnb ul {zoom:1;overflow:hidden;}
.gnb ul:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.gnb ul li {float:left;padding:0 15px 0 17px;margin:0 0 0 -2px;background:url(../images/bul_gbar.jpg) no-repeat 0 3px;}
.gnb ul li a {color:#333;}
.gnb ul li a:hover, .gnb ul .on a {color:#f1446f;}

/* footer */
.social {zoom:1;line-height:16px;}
.social:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.social .pinterest, .social .twitter, .social .facebook {float:left;display:inline;width:298px;height:198px;padding:9px 0 0 0;margin:0 9px 0 0;border:1px solid #303030;background:url(../images/bg_social.jpg) no-repeat 0 0;background-color:#fff;}
.social div .tit {height:42px;padding:11px 0 0 0;margin:0 0 0 8px;background:url(../images/tit_social.jpg) no-repeat 0 13px;}
.social .twitter .tit {background-position:0 -37px;}
.social .facebook .tit {background-position:0 -89px;}
.social div .tit a {display:block;height:40px;margin:0 7px 0 0;}
.social div dl {zoom:1;margin:0 10px;padding:10px 0 5px 0;background:url(../images/bg_dot.jpg) repeat-x 0 0;}
.social div dl:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.social div dl dt {float:left;width:41px;}
.social div dl dt img {width:32px;height:32px;}
.social div dl dd {float:left;width:235px;height:48px;color:#333;overflow:hidden;}
.social div dl dd a {color:#333;}
.social div dl dd a:hover {text-decoration:underline;}
.social div dl dd a .twittId {color:#4BC8B6;}
.social div dl dd strong {color:#f1446f;}
.social div dl dd a:hover strong {text-decoration:underline;}
.social .facebook dl dd strong {display:block;}
.social div .pinbox {margin:0 7px;padding:11px 0 0 0;background:url(../images/bg_dot.jpg) repeat-x 0 0;overflow:hidden;}
.social div .pinbox ul {zoom:1;width:285px;}
.social div .pinbox ul:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.social div .pinbox ul li {float:left;display:inline;margin:0 2px 2px 0;}
.social div .pinbox ul li img {width:53px;height:53px;border:1px solid #333;}
.copyright {zoom:1;padding:17px 20px 17px 0;line-height:14px;font-size:11px;font-family:Courier;color:#333;}
.copyright:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.copyright p {float:left;padding:8px 0 0 0;}
.copyright p span {color:#999;}
.copyright ul {float:right;}
.copyright ul li {float:left;padding:8px 0 0 7px;}
.copyright ul li a {color:#333;}
.copyright ul li a:hover {text-decoration:underline;}
.copyright ul .icsocial {padding-top:0;}
.copyright ul .icsocial a {display:inline;float:left;width:21px;height:19px;margin:0 0 0 5px;background:url(../images/ico_social.png) no-repeat 0 0;text-decoration:none;}
.copyright ul .icsocial .tw {background-position:0 -20px;}
.copyright ul .icsocial .pt {background-position:0 -40px;}

/* side */
.side a {color:#999;}
.side a:hover, .side .on {color:#45a395;text-decoration:underline;}
.side dl {padding:12px 0 8px 0;margin:-2px 0 0 0;background:url(../images/bg_underline.jpg) no-repeat 0 0;}
.side dl dt {}
.side dl dd a {padding:0 0 0 13px;background:url(../images/bullet.gif) no-repeat 0 6px;}
.side dl dd a:hover, .side dl dd .on {background-position:0 -44px;}

/* center */
.navi {height:23px;padding:11px 0 0 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;line-height:17px;font-size:12px;font-family:Courier;}
.navi a {color:#999;}
.navi a:hover, .navi .on {color:#4bc8b6;text-decoration:underline;}
h2 {height:40px;padding:4px 0 0 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;font-size:30px;line-height:34px;color:#4bc8b6;font-family:'TradeGothicW01-BoldCn20 675334', sans-serif;font-weight:normal;letter-spacing:2px;}
h2 span {display:inline-block;padding:0 0 0 10px;font-size:13px;line-height:17px;font-style:italic;font-family:Georgia;letter-spacing:0;}

/* main */
.mains {zoom:1;padding:0 0 20px 2px;}
.mains:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.mains .mslider {position:relative;float:left;width:610px;height:300px;overflow:hidden;}
.mains .mslider .bg {position:absolute;bottom:0;width:100%;height:31px;background-color:#fff;-moz-opacity:.7;-webkit-opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/*IE8*/opacity:.7;}
.mains .mslider img {width:610px;height:300px;}
.mains .mslider .bx-pager {z-index:99;position:absolute;bottom:5px;right:0;line-height:12px;}
.mains .mslider .bx-pager div {display:inline;}
.mains .mslider .bx-pager a {display:inline-block;width:21px;height:16px;padding:5px 0 0 0;margin:0 5px 0 0;background-color:#333;color:#f1446f;text-align:center;}
.mains .mslider .bx-pager a.active, .mains .mslider .bx-pager a:hover {color:#4BC8B6;}
.mains .msdinfo {float:right;width:291px;height:300px;background:url(../images/bg_mtit.png) no-repeat 0 bottom;line-height:16px;}
.mains .msdinfo div {background:url(../images/bg_mtit.png) no-repeat 0 0;text-align:center;}
.mains .msdinfo div dl {position:relative;display:none;}
.mains .msdinfo div dl dt {}
.mains .msdinfo div dl dd {position:absolute;top:170px;left:0;width:100%;text-align:center;}
.mnewslt {height:155px;margin:0 -20px 0 -18px;padding:10px 0 0 18px;background:url(../images/bg_header.jpg) repeat 0 9px;}
.mnewslt .newsletter {width:920px;height:155px;background:url(../images/bg_newsletter.png) no-repeat 0 0;line-height:18px;color:#001e12;}
.mnewslt .newsletter p {height:54px;margin:0;padding:54px 0 0 358px;overflow:hidden;}
.mnewslt .newsletter div {zoom:1;padding:0 0 0 583px;}
.mnewslt .newsletter div:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.mnewslt .newsletter div .inp {float:left;width:283px;height:23px;padding:3px 0 0 3px;margin:1px 0 0 0;}
.mnewslt .newsletter div .submit {float:left;width:35px;height:29px;background:none;border:0;cursor:pointer;}

/* product list */
.prodlist {width:760px;padding:0 0 19px 0;overflow:hidden;}
.prodlist ul {zoom:1;width:774px;color:#333;font-size:16px;}
.prodlist ul:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.prodlist ul li {position:relative;float:left;display:inline;width:239px;height:239px;margin:19px 19px 0 0;background-color:#fff;}
.prodlist ul li img {width:239px;height:175px;}
.prodlist ul li em {position:absolute;left:10px;display:block;width:59px;height:77px;background:url(../images/img_prod.png) no-repeat 0 0;}
.prodlist ul li .off15 {background-position:0 -100px;}
.prodlist ul li .off25 {background-position:0 -200px;}
.prodlist ul li .off30 {background-position:0 -300px;}
.prodlist ul li .off50 {background-position:0 -400px;}
.prodlist ul li .off75 {background-position:0 -500px;}
.prodlist ul li .price {color:#f1446f;}
.prodlist ul li .subject {margin:2px 0 0 9px;}
.prodlist ul li .subject a {display:block;margin:0 0 3px 0;color:#333;}
.prodlist ul li .layers {display:none;position:absolute;top:118px;left:0;width:239px;height:121px;}
.prodlist ul li:hover .layers {display:block;}
.prodlist ul li .layers .bg {z-index:1;position:relative;display:block;height:56px;background-color:#fff;-moz-opacity:.7;-webkit-opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/*IE8*/opacity:.7;}
.prodlist ul li .layers div {z-index:9;zoom:1;position:relative;margin:-56px 0 0 0;padding:0 0 0 9px;height:56px;}
.prodlist ul li .layers div:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.prodlist ul li .layers div dl {float:left;display:inline;width:76px;font-size:12px;overflow:hidden;}
.prodlist ul li .layers div dl dt {height:18px;padding:3px 0 0 0;}
.prodlist ul li .layers div dl dd select {width:68px;}
.prodlist ul li .layers p {padding:10px 0 0 120px;}
.prodlist ul li .layers p a {display:block;width:113px;height:18px;margin:0 0 8px 0;background:url(../images/btns.png) no-repeat 0 0;}
.prodlist ul li .layers p a:hover {background-position:0 -20px;}
.prodlist ul li .layers p .wish {background-position:0 -50px;}
.prodlist ul li .layers p .wish:hover {background-position:0 -70px;}

/* product detail */
.prodinfo {zoom:1;margin:10px 0 41px 0;}
.prodinfo:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.prodinfo .prodimgs {float:left;width:444px;overflow:hidden;}
.prodinfo .prodimgs p {height:335px;}
.prodinfo .prodimgs p img {width:444px;height:325px;}
.prodinfo .prodimgs ul {zoom:1;width:452px;}
.prodinfo .prodimgs ul:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.prodinfo .prodimgs ul li {float:left;display:inline;margin:0 9px 0 0;}
.prodinfo .prodimgs ul li img {width:104px;height:76px;}
.prodinfo .prodtxt {float:right;width:301px;font-size:12px;line-height:16px;}
.prodinfo .prodtxt ul {}
.prodinfo .prodtxt ul li {zoom:1;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;color:#999;}
.prodinfo .prodtxt ul li:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.prodinfo .prodtxt ul .sns {padding:0 0 9px 0;}
.prodinfo .prodtxt ul .sns .sbtns {float:right;}
.prodinfo .prodtxt ul .sns .sbtns a {float:left;display:inline;width:44px;height:22px;margin:0 0 0 8px;background:url(../images/btn_share.png) no-repeat 0 0;}
.prodinfo .prodtxt ul .sns .sbtns .tw {width:55px;}
.prodinfo .prodtxt ul .sns .sbtns .fb {background-position:0 -30px;}
.prodinfo .prodtxt ul .sns .sbtns .pt {width:45px;background-position:0 -60px;}
.prodinfo .prodtxt ul .tit {height:27px;padding:7px 10px 0 10px;color:#4bc8b6;font-size:16px;line-height:19px;}
.prodinfo .prodtxt ul .price {height:27px;padding:7px 10px 3px 10px;font-size:20px;line-height:22px;color:#4bc8b6;}
.prodinfo .prodtxt ul .poptions {height:56px;padding:5px 10px;}
.prodinfo .prodtxt ul .poptions dl {float:left;display:inline;width:83px;overflow:hidden;}
.prodinfo .prodtxt ul .poptions dl dt {height:18px;padding:3px 0 0 0;}
.prodinfo .prodtxt ul .poptions dd select {width:70px;border:1px solid #4BC8B6;background-color:#383838;color:#4BC8B6;}
.prodinfo .prodtxt ul .desc {height:164px;padding:6px 9px;background:none;}
.prodinfo .prodtxt ul .btns {padding:0 0 0 10px;background:none;}
.prodinfo .prodtxt ul .btns a {display:inline-block;width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -100px;}
.prodinfo .prodtxt ul .btns a:hover {background-position:0 -1100px;}
.prodinfo .prodtxt ul .btns .pcheck {margin:0 0 0 8px;background-position:0 -150px;}
.prodinfo .prodtxt ul .btns .pcheck:hover {background-position:0 -1150px;}
.prodinfo .prodtxt ul .btns p {height:28px;}
.prodinfo .prodtxt ul .btns p a {width:119px;height:18px;background:url(../images/btns.png) no-repeat 0 -200px;}
.prodinfo .prodtxt ul .btns p a:hover {background-position:0 -1050px;}

/* cart list */
.cartlist {margin:0 0 30px 0;overflow:hidden;}
.cartlist .data-table {margin:0 0 -1px 0;border:0;}
.cartlist .data-table tbody {}
.cartlist .data-table tbody tr {background:none;}
.cartlist .data-table tbody td {padding:15px 0;border:0;border-bottom:1px solid #999;color:#4bc8b6;}
.cartlist .data-table tbody td .bar {width:335px;min-height:130px;border-right:1px solid #999;}
.cartlist .data-table tbody td .product-image img {width:100px;height:73px;}
.cartlist .data-table tbody td h2 {font-family:Arial;font-weight:normal;letter-spacing:0;}
.cartlist .data-table tbody td .product-name {height:auto;padding:0;margin:0 0 2px 0;background:none;color:#4bc8b6;font-size:18px;line-height:18px;}
.cartlist .data-table tbody td .product-name a {color:#4bc8b6;}
.cartlist .data-table tbody td .desc {line-height:16px;color:#999;}
.cartlist .data-table tbody td .item-options {zoom:1;color:#999;line-height:14px;}
.cartlist .data-table tbody td .item-options:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.cartlist .data-table tbody td .item-options dt {float:left;width:40px;font-style:normal;}
.cartlist .data-table tbody td .item-options dd {margin:0;}
.cartlist .data-table tbody td .txt {height:19px;margin:0 0 17px 0;border-bottom:1px solid #999;color:#999;}
.cartlist .data-table tbody .a-right, .cartlist .data-table tbody .a-center {text-align:left !important;}
.cartlist .data-table tbody td .qty {position:relative;top:-7px;width:76px !important;height:24px;padding:5px 0 0 3px;border:0;background:url(../images/bg_inp1.jpg) no-repeat 0 0;color:#f1446f;}
.cartlist .data-table tbody td .btn-remove {position:relative;top:-7px;width:43px;height:29px;background:url(../images/btns.png) no-repeat 0 -250px;}
.cartlist .data-table tbody td .btn-remove:hover {background-position:0 -1200px;}
.cartlist .data-table tfoot {}
.cartlist .data-table tfoot tr {background:none !important;}
.cartlist .data-table tfoot td {padding:0 0 15px 0;border:0;border-bottom:1px solid #999;}
.cartlist .data-table tfoot td .disform {float:left;}
.cartlist .data-table tfoot td .disform h2 {height:auto;background:none;font-size:18px;font-family:Arial;letter-spacing:0;}
.cartlist .data-table tfoot td .disform label {display:none;}
.cartlist .data-table tfoot td .disform .input-text {width:215px;height:17px;padding:3px 0 0 3px;border:1px solid #ccc;}
.cartlist .data-table tfoot td .disform .discount-form {zoom:1;}
.cartlist .data-table tfoot td .disform .discount-form:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.cartlist .data-table tfoot td .disform .discount-form .input-box {float:left;display:inline;margin:0 13px 0 0;}
.cartlist .data-table tfoot td .disform .discount-form .buttons-set {float:left;clear:none;margin:0;padding:0;border:0;}
.cartlist .data-table tfoot td .disform .discount-form .buttons-set .apcode {width:85px;height:18px;border:0;background:url(../images/btns.png) no-repeat 0 -300px;cursor:pointer;}
.cartlist .data-table tfoot td .disform .discount-form .buttons-set .apcode:hover {background-position:0 -320px;}
.cartlist .data-table tfoot td .disform .discount-form .buttons-set .delcode {width:85px;height:18px;border:0;background:url(../images/btns.png) no-repeat 0 -350px;cursor:pointer;}
.cartlist .data-table tfoot td .disform .discount-form .buttons-set .delcode:hover {background-position:0 -370px;}
.cartlist .data-table tfoot td .totinfo {float:right;width:180px;padding:8px 0;line-height:16px;color:#929292;}
.cartlist .data-table tfoot td .totinfo dl {zoom:1;}
.cartlist .data-table tfoot td .totinfo dl:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.cartlist .data-table tfoot td .totinfo dl dt {float:left;width:50px;text-align:right;}
.cartlist .data-table tfoot td .totinfo dl dd {float:left;padding:0 0 0 8px;}
.cartlist .data-table tfoot td .totinfo .tot {margin:10px 0 0 0;}
.cartlist .data-table tfoot td .totinfo .tot dt, .cartlist .data-table tfoot td .totinfo .tot dd {font-size:16px;}
.cartlist .data-table tfoot td .totinfo .tot dd {color:#4bc8b6;font-weight:bold;}
.cartlist .data-table tfoot td .btn-update {float:left;width:110px;height:18px;margin:22px 0 0 0;background:url(../images/btns.png) no-repeat 0 -400px;}
.cartlist .data-table tfoot td .btn-update:hover {background-position:0 -420px;}
.cartlist .data-table tfoot td .btn-update span {border:0;background:none;}
.cartlist .data-table tfoot td .btn-update span span {display:none;}
.cartlist .data-table tfoot td .btn-continue {float:left;display:inline;width:127px;height:18px;margin:22px 0 0 10px;background:url(../images/btns.png) no-repeat 0 -450px;}
.cartlist .data-table tfoot td .btn-continue:hover {background-position:0 -470px;}
.cartlist .data-table tfoot td .btn-continue span {border:0;background:none;}
.cartlist .data-table tfoot td .btn-continue span span {display:none;}
.cartlist .data-table tfoot td .btn-checkout {width:114px;height:41px;margin:10px 0 0 0;background:url(../images/btns.png) no-repeat 0 -500px;}
.cartlist .data-table tfoot td .btn-checkout:hover {background-position:0 -1150px;}
.cartlist .data-table tfoot td .btn-checkout span {border:0;background:none;}
.cartlist .data-table tfoot td .btn-checkout span span {display:none;}

/* cart empty */
.cart-empty {width:667px;height:128px;margin:60px auto 0 auto;background:url(../images/img_ctempty.png) no-repeat 0 0;}
.cart-empty p {display:none;}

/* wish list */
.cartlist #wishlist-table tbody td .bar {margin:0 0 0 20px;}
.cartlist #wishlist-table tbody td .description {line-height:16px;color:#999;}
.cartlist #wishlist-table tbody td .addon {float:left;width:70px;}
.cartlist #wishlist-table tbody td .addon span {font-size:16px;}
.cartlist #wishlist-table tbody td .cart-cell {zoom:1;margin:0 0 0 20px;overflow:hidden;}
.cartlist #wishlist-table tbody td .cart-cell:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.cartlist #wishlist-table tbody td .price-box {float:left;width:63px;margin:0;}
.cartlist #wishlist-table tbody td .add-to-cart-alt {float:left;width:98px;}
.cartlist #wishlist-table tbody td .regular-price .price {color:#4BC8B6;font-size:16px;font-weight:normal;}
.cartlist #wishlist-table tbody td .btn-cart {position:relative;top:-2px;width:87px;height:18px;background:url(../images/btns.png) no-repeat 0 -550px;}
.cartlist #wishlist-table tbody td .btn-cart:hover {background-position:0 -570px;}
.cartlist #wishlist-table tbody td button span {display:none;}
.cartlist #wishlist-table tbody td .btn-remove {float:right;width:25px;background-position:0 -600px;}
.cartlist #wishlist-table tbody td .btn-remove:hover {background-position:0 -1250px;}
.cartlist .buttons-set {margin:10px 0 0 0;padding:0;border:0;text-align:left;}
.cartlist .buttons-set .button {float:none;width:110px;height:18px;margin:0 10px 0 0;background:url(../images/btns.png) no-repeat 0 -650px;}
.cartlist .buttons-set .button:hover {background-position:0 -670px;}
.cartlist .buttons-set .btn-add {background-position:0 -700px;}
.cartlist .buttons-set .btn-add:hover {background-position:0 -720px;}
.cartlist .buttons-set .button span {display:none;}

/* wish empty */
.wishlist-empty {display:inline-block;width:574px;height:209px;margin:54px 0 0 92px;background:url(../images/img_wsempty.png) no-repeat 0 0;text-indent:-3000px;}

/* wish share list */
.wishshare {padding:0 0 50px 0;}
.wishshare h3 {height:24px;padding:7px 0 0 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;color:#999;font-size:12px;font-weight:normal;}
.wishshare .legend {display:none;}
.wishshare .fieldset {border:0;background:none;padding:0;margin:7px 0 0 0;overflow:hidden;}
.wishshare .fieldset .form-list {zoom:1;width:776px;}
.wishshare .fieldset .form-list:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.wishshare .fieldset .form-list label {margin:0 0 6px 0;color:#999;font-weight:normal;}
.wishshare .fieldset .form-list label em {display:none;}
.wishshare .fieldset .form-list li {float:left;display:inline;margin:0 20px 0 0;}
.wishshare .fieldset .form-list li .input-box {width:auto;}
.wishshare .fieldset .form-list li textarea {width:356px;height:172px;padding:5px;border:1px solid #999;}
.wishshare .buttons-set {height:62px;padding:0;margin:20px 0 0 0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.wishshare .buttons-set .required, .wishshare .buttons-set .back-link {display:none;}
.wishshare .buttons-set .button {width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -750px;}
.wishshare .buttons-set .button:hover {background-position:0 -1300px;}
.wishshare .buttons-set .button span {display:none;}
.wishshare .wsharefb {margin:20px 0 0 0;}
.wishshare .wsharefb .sharefb {display:block;width:138px;height:41px;background:url(../images/btns.png) no-repeat 0 -800px;}
.wishshare .wsharefb .sharefb:hover {background-position:0 -1350px;}
.wishshare .wsharefb p {margin:15px 0 0 0;}

/* my account */
.myacc {padding:0 0 220px 0;}
.myacc .welcome-msg {height:32px;margin:0 0 10px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;font-size:16px;}
.myacc .welcome-msg .hello {padding:8px 0 0 0;}
.myacc .box-account {zoom:1;padding:0;margin:0;border:0;background:none;color:#999;font-size:12px;}
.myacc .box-account:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.myacc .box-account .box-head {zoom:1;border:0;}
.myacc .box-account .box-head:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.myacc .box-account .box-head h2 {float:none;padding:0;background:none;font-size:12px;color:#999;font-weight:bold;font-family:Arial;letter-spacing:0;}
.myacc .box-account .col2-set {float:left;margin:-41px 0 0 0;}
.myacc .box-account .col2-set .col-1 {width:114px;margin:0 56px 0 0;}
.myacc .box-account div .box {position:relative;height:158px;}
.myacc .box-account div .box .box-title h3 {margin:0 0 20px 0;color:#999;font-weight:bold;}
.myacc .box-account .col2-set .col-1 .box .box-title h3 {padding:36px 0 0 0;margin:0;}
.myacc .box-account div .box .box-content {zoom:1;}
.myacc .box-account div .box .box-content:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.myacc .box-account div .box .box-content p a {color:#44a295;text-decoration:underline;}
.myacc .box-account div .box .box-content div {position:relative;float:left;display:inline;width:114px;height:122px;margin:0 56px 0 0;}
.myacc .box-account div .box .box-content div h4 {color:#999;font-weight:bold;}
.myacc .box-account div .box .box-content div a, .myacc .box-account div .box .box-title a {position:absolute;bottom:0;display:inline-block;width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -850px;text-indent:-3000px;}
.myacc .box-account div .box .box-content div a:hover, .myacc .box-account div .box .box-title a:hover {background-position:0 -1450px;}

/* my dashboard */
.mydash {padding:0 0 35px 0;}
.mydash .welcome-msg {padding:10px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.mydash .welcome-msg .hello {color:#4bc8b6;font-size:16px;}
.mydash .box-account {margin:0;padding:0;border:0;background:none;}
.mydash .box-account .box-head {position:relative;border:0;margin:0;}
.mydash .box-account .box-head h2 {float:none;height:22px;padding:0;background:none;font-size:16px;color:#4bc8b6;font-weight:normal;font-family:Arial;letter-spacing:0;}
.mydash .box-recent .box-head h2 {height:32px;margin:0 0 10px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.mydash .box-account .box-head a {position:absolute;right:0;top:8px;font-size:12px;color:#4bc8b6;text-decoration:underline;}
.mydash .box-account .col2-set {zoom:1;margin:10px 0 0 0;background:url(../images/bg_underline.jpg) repeat-x 0 0;}
.mydash .box-account .col2-set:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.mydash .box-account .col2-set .col-1 {float:left;width:366px;}
.mydash .box-account .col2-set .col-2 {float:right;width:366px;}
.mydash .box-account .box-title {position:relative;height:32px;margin:0 0 5px 0;border-bottom:1px dotted #999;}
.mydash .box-account .box-title h3 {padding:9px 0 0 0;color:#4bc8b6;font-size:16px;}
.mydash .box-account .box-title a {position:absolute;right:0;top:8px;font-size:12px;color:#4bc8b6;text-decoration:underline;}
.mydash .box-account p a, .mydash .box-account address a {color:#4bc8b6;text-decoration:underline;}
.mydash .box-account h4 {font-size:12px;color:#999;font-weight:bold;}
.mydash .box-recent {padding:0 0 20px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.mydash .data-table, .myorders .data-table {border-color:#2e2e2e;background-color:#ccc;color:#333;}
.mydash .data-table th, .myorders .data-table th {padding:3px 0;border-bottom:1px solid #2e2e2e;border-color:#2e2e2e;background-color:#999;color:#333;text-align:center;}
.mydash .data-table tr.last th, .myorders .data-table tr.last th {border-bottom:1px solid #2e2e2e !important;}
.mydash .data-table td, .myorders .data-table td {border-bottom:1px solid #2e2e2e !important;border-color:#2e2e2e;background-color:#ccc;}
.myorders .data-table tfoot td {border:0 !important;}
.mydash .data-table td .nobr a, .myorders .data-table td .nobr a {color:#333;text-decoration:underline;font-weight:bold;}
.mydash .data-table td .nobr .link-reorder, .myorders .data-table td .nobr .link-reorder {color:#f1446f !important;}

/* add new address */
.newaddr {padding:0 0 50px 0;overflow:hidden;}
.newaddr .fieldset {margin:-2px 0 0 0;padding:0 0 10px 0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 0;}
.newaddr .fieldset .legend {float:none;height:32px;margin:0;padding:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;font-weight:normal;font-size:16px;color:#4bc8b6;font-family:Arial;letter-spacing:0;}
.newaddr .form-list {margin:10px 0 0 0;}
.newaddr .form-list .field {margin:0 0 8px 0;}
.newaddr .form-list .wide {margin:0 0 12px 0;}
.newaddr .form-list .control {display:none;}
.editacc .form-list .control {display:block;}
.newaddr .form-list label {margin:0 0 5px 0;color:#999;font-weight:normal;}
.newaddr .buttons-set {margin:-77px 0 0 0;padding:0;border:0;}
.newaddr .buttons-set .back-link {display:none;}
.editacc .buttons-set .back-link {display:block;margin:60px 0 0 0;}
.editacc .buttons-set .back-link a {display:inline-block;width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -1000px;text-indent:-3000px;}
.editacc .buttons-set .back-link a:hover {background-position:0 -1550px;}
.newaddr .buttons-set .required {height:20px;margin:0;font-size:12px;color:#f1446f;font-weight:bold;}
.newaddr .buttons-set .button {width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -950px;}
.newaddr .buttons-set .button:hover {background-position:0 -1500px;}
.editacc .buttons-set .button {background-position:0 -850px;}
.editacc .buttons-set .button:hover {background-position:0 -1450px;}
.newaddr .buttons-set .button span {display:none;}

/* my orders */
.myorders {padding:0 0 50px 0;}
.myorders .pager {height:26px;padding:8px 0 0 0;margin:0 0 10px 0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;font-size:12px;color:#999;}
.myorders .pager .amount {padding:2px 0 0 0;color:#4bc8b6;font-size:16px;}
.myorders .pager .amount strong {font-weight:normal;}
.myorders .pager label {margin:0;}
.myorders .boxpager {padding:2px 0 0 0;margin:10px 0 0 0;background:url(../images/bg_underline.jpg) repeat-x 0 0;}
.myorders .buttons-set {margin:10px 0 0 0;border:0;}
.myorders .buttons-set a {display:inline-block;width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -1000px;text-indent:-3000px;}
.myorders .buttons-set a:hover {background-position:0 -1550px;}
.myorders .page-title {position:relative;height:24px;padding:8px 0 0 0;margin:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.myorders .page-title h1 {font-weight:normal;font-size:16px;color:#4bc8b6;font-family:Arial;}
.myorders .page-title a {color:#4bc8b6 !important;text-decoration:underline;}
.myorders .order-info {height:23px;padding:7px 0 0 0;margin:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;color:#999;}
.myorders .order-date {height:23px;padding:7px 0 0 0;margin:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;color:#999;}
.myorders .order-info-box {padding:0 0 10px 0;margin:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.myorders .order-info-box .box-title {height:28px;}
.myorders .order-info-box .box-title h2 {height:auto;padding:0;margin:0;background:none;font-family:Arial;font-size:16px;font-weight:normal;letter-spacing:0;}
.myorders .order-info-box .box-payment p {margin:0;}
.myorders .order-info-box .box-payment p strong {font-weight:bold;}
.myorders .table-caption {height:30px;padding:0;margin:0;border:0;background:none;font-weight:normal;font-size:16px;color:#4bc8b6;font-family:Arial;letter-spacing:0;}
.myorders .data-table th.a-right {text-align:center !important;}
.myorders .data-table td .product-name {color:#333;}
.myorders .data-table tfoot {border:0;}
.myorders .data-table tfoot td {border:0;background-color:#999;}
.myorders .data-table tfoot .subtotal td {padding-top:10px;}
.myorders .data-table tfoot .grand_total td {padding-top:10px;padding-bottom:10px;font-size:16px;font-weight:bold;}
.myorders .data-table tfoot tr.first td {background-color:#999;}

/* newsletter */
.myorders .fieldset {padding:0 0 15px 0;margin:0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.myorders .fieldset label {padding:0;margin:0;color:#999;font-weight:normal;}
.myorders .fieldset .legend {float:none;height:24px;padding:0 0 10px 0;margin:0 0 20px 0;border:0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;font-weight:normal;font-size:16px;color:#4bc8b6;font-family:Arial;letter-spacing:0;}
.myorders .buttons-set .button {width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -900px;}
.myorders .buttons-set .button:hover {background-position:0 -1400px;}
.myorders .buttons-set .button span {display:none;}

/* forgot password */
.myorders p {font-weight:bold;}
.myorders .form-list {margin:10px 0 0 0;}
.myorders .buttons-set .required {height:20px;margin:0;font-size:12px;color:#f1446f;font-weight:bold;}

/* adress book */
.myorders .page-title .button span {border:0;background:none;color:#4bc8b6;font-weight:normal;text-decoration:underline;}
.myorders .addresses-list h2 {height:34px;margin:0 0 10px 0;padding:0;font-weight:normal;font-size:14px;color:#4bc8b6;font-family:Arial;letter-spacing:0;}
.myorders .addresses-list h3 {color:#999;}
.myorders .addresses-list li {margin:0 0 20px 0;padding:0;border:0;background:none;}
.myorders .addresses-list li a {color:#4bc8b6;text-decoration:underline;font-weight:normal;}

/* login */
.ctnone {background:none;}
.svlogin {width:301px;margin:130px auto 0 auto;padding:50px 0 20px 256px;background:url(../images/img_loglogo.png) no-repeat 0 0;}
.svlogin .new-users {display:none;}
.svlogin .registered-users {float:none;width:auto;}
.svlogin .registered-users .content h2, .svlogin .registered-users .content p {display:none;}
.svlogin .registered-users .form-list {}
.svlogin .registered-users .form-list li label {margin:0;color:#999;font-weight:normal;}
.svlogin .registered-users .form-list li label em {display:none;}
.svlogin .registered-users .form-list li .input-box input {width:296px;height:24px;padding:3px 0 0 3px;border:1px solid #ccc;color:#333;}
.svlogin .registered-users .buttons-set {position:relative;height:75px;margin:16px 0 0 0;padding:0;border:0;}
.svlogin .registered-users .buttons-set .button {width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -900px;}
.svlogin .registered-users .buttons-set .button:hover {background-position:0 -1400px;}
.svlogin .registered-users .buttons-set .button span {display:none;}
.svlogin .registered-users .buttons-set a {display:block;position:absolute;right:0;bottom:-20px;text-decoration:underline;}
.svlogin .registered-users .buttons-set .f-left {bottom:0;}

/* staff */
.staff1 {}
.staff1 h3 {padding:6px 0 7px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;color:#999;font-size:12px;font-weight:normal;line-height:16px;}
.staff1 .sflist {margin:10px 0 0 1px;font-size:14px;color:#4bc8b6;}
.staff1 .sflist a {color:#4bc8b6;}
.staff1 .sflist div {zoom:1;width:760px;}
.staff1 .sflist div:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.staff1 .sflist div dl {float:left;width:190px;height:210px;}
.staff1 .sflist div dl dt {height:189px;}
.staff1 .sflist div dl dt img {width:182px;height:182px;}
.staff2 {margin:20px 0 0 0;color:#999;line-height:16px;}
.staff2 a {color:#999;}
.staff2 .sfinfo {}
.staff2 .sfinfo dl {zoom:1;}
.staff2 .sfinfo dl:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.staff2 .sfinfo dl dt {float:left;width:314px;padding:0 0 0 1px;}
.staff2 .sfinfo dl dt img {width:294px;height:294px;}
.staff2 .sfinfo dl dd {float:left;width:430px;padding:0 10px 0 0;}
.staff2 .sfinfo dl dd strong {display:block;margin:0 0 2px 0;font-size:18px;line-height:18px;font-weight:normal;color:#4bc8b6;}
.staff2 .sfinfo dl dd div {margin:15px 0 0 0;color:#4bc8b6;}
.staff2 .sfinfo dl dd div p {zoom:1;margin:15px 0 0 0;}
.staff2 .sfinfo dl dd div p:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.staff2 .sfinfo dl dd div p a {float:left;display:inline;height:22px;background:url(../images/img_sfsns.png) no-repeat 0 0;}
.staff2 .sfinfo dl dd div p .tw {width:26px;}
.staff2 .sfinfo dl dd div p .fc {width:39px;margin-left:8px;background-position:0 -30px;}
.staff2 .sfinfo dl dd div p .pt {width:21px;margin-left:11px;background-position:0 -60px;}
.staff2 .sflist {margin:20px 0 85px 0;padding:10px 0 0 0;border-top:1px solid #999;overflow:hidden;}
.staff2 .sflist div {zoom:1;width:776px;}
.staff2 .sflist div:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.staff2 .sflist div dl {float:left;display:inline;width:169px;height:235px;padding:0 15px 0 0;margin:0 9px 0 0;border-right:1px solid #999;}
.staff2 .sflist div dl dt {height:90px;}
.staff2 .sflist div dl dt img {width:100px;height:73px;}
.staff2 .sflist div dl dd strong {display:block;margin:0 0 17px 0;color:#4bc8b6;}

/* contact */
.contact {zoom:1;margin:22px 0 0 0;color:#999;line-height:16px;}
.contact:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.contact .map {float:left;width:560px;}
.contact .desc {float:right;width:165px;padding:0 10px 0 0;}
.contact .desc dl {}
.contact .desc dl dt {color:#4bc8b6;}
.contact .desc dl dd {margin:0 0 15px 0;}

/* about us */
.about {zoom:1;height:359px;margin:20px 0 0 0;background:url(../images/img_about.jpg) no-repeat 0 0;color:#999;line-height:16px;}
.about:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.about span {float:left;width:466px;}
.about div {float:left;width:289px;}

/* 404 */
.error {}
.error .er404 {width:680px;height:331px;margin:52px auto 0 auto;background:url(../images/img_404.png) no-repeat 0 0;}
.error .er403 {width:592px;height:328px;margin:52px auto 0 auto;background:url(../images/img_403.png) no-repeat 0 0;}
.error .er401 {width:525px;height:241px;margin:90px auto 0 auto;background:url(../images/img_401.png) no-repeat 0 0;}

/* select box */
/* Dropdown control */
.selectBox-dropdown {position:relative;display:block;border:solid 1px #999;background-color:#fff;color:#333;outline:none;cursor:pointer;}
.poptions .selectBox-dropdown {border:solid 1px #4bc8b6;background-color:#333;color:#4bc8b6;}
.selectBox-dropdown .selectBox-label {display:block;height:19px;padding:8px 0 0 5px;white-space:nowrap;overflow:hidden;line-height:12px;}
.selectBox-dropdown .selectBox-arrow {position:absolute;top:0;right:0;width:22px;height:27px;background: url(../images/bullet.gif) no-repeat 0 -100px;}
.poptions .selectBox-dropdown .selectBox-arrow {background-position:0 -150px;}
/* Dropdown menu */
.selectBox-dropdown-menu {position:absolute;z-index:99999;max-height:200px;min-height:1em;border:solid 1px #999;background:#fff;overflow:auto;}
.pinopt-selectBox-dropdown-menu {border:solid 1px #4bc8b6;background:#333;}
/* Inline control */
.selectBox-inline {outline:none;border:solid 1px #999;background:#fff;display:inline-block;overflow:auto;}
/* Options */
.selectBox-options, .selectBox-options li, .selectBox-options li A {display:block;cursor:pointer;}
.selectBox-options li a {padding:5px 10px 3px 10px;white-space:nowrap;overflow:hidden;color:#333;}
.pinopt-selectBox-dropdown-menu li a {color:#4bc8b6;}
.selectBox-options li.selectBox-hover a {background-color:#eee;}
.pinopt-selectBox-dropdown-menu li.selectBox-hover a {color:#333;}
.selectBox-options li.selectBox-selected a {background-color:#C8DEF4;}
.pinopt-selectBox-dropdown-menu li.selectBox-selected a {color:#333;}

/* wordpress */
.wpblog {zoom:1;margin:-20px -20px 0 -18px;background-color:#4bc8b6;}
.wpblog:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.wpblog .wpside {float:left;width:259px;padding:33px 20px 0 20px;color:#003333;font-size:14px;line-height:16px;font-family:Arial;}
.wpblog .wpside a {color:#003333;}
.wpblog .wpside p {margin:0 0 19px 0;font-family:Georgia;font-size:24px;line-heihgt:26px;}
.wpblog .wpside ul {margin:0 0 31px 0;overflow:hidden;}
.wpblog .wpside ul li {padding:5px 0 6px 0;margin:-1px 0 0 0;border-top:1px solid #99ffff;}
.wpblog .wpctns {float:right;display:inline;width:600px;padding:30px 30px 0 30px;background-color:#262525;font-size:14px;line-height:20px;}
.wpblog .wpctns dl {padding:0 0 50px 0;}
.wpblog .wpctns dl dt {height:333px;}
.wpblog .wpctns dl dt img {width:600px;height:300px;}
.wpblog .wpctns dl dd {color:#999;}
.wpblog .wpctns dl dd a {color:#999;}
.wpblog .wpctns dl dd strong {display:block;margin:0 0 10px 0;font-family:Georgia;font-size:24px;line-heihgt:28px;}
.wpblog .wpctns dl dd span, .wpblog .wpctns dl .cate a {color:#4bc8b6;}
.wpblog .wpctns dl dd .date {margin:0 0 20px 0;}
.wpblog .wpctns dl dd .cate {margin:20px 0 0 0;}

/* checkout page */
.checkout-onepage-index .contents, .checkout-onepage-success .contents {width:922px;}
.chkout {zoom:1;padding:10px 0 50px 0;}
.chkout:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.chkout #checkoutSteps {float:left;width:700px;border:1px solid #000;}
.chkout .step-title {height:28px;padding:0;border:0;background:url(../images/bg_checkout.jpg) no-repeat 0 0;}
.chkout .allow .step-title {padding:0;border:0;background:url(../images/bg_checkout.jpg) no-repeat right -30px;}
.chkout .step-title h2 {height:auto;padding:6px 0 0 7px;background:none;font-size:14px;color:#333 !important;font-family:'Trade Gothic W01 Bold', sans-serif;font-weight:normal;letter-spacing:1px;}
.chkout .step-title span {display:none;}
.chkout .opc .step {padding:20px 0 20px 20px;border:0;background:none;background-color:#fff;}
.chkout .form-list label, .chkout .sp-methods label {margin:0;color:#333;font-weight:normal;}
.chkout .form-list .field {width:340px;}
.chkout .form-list input.input-text {width:313px;}
.chkout .form-list li.wide input.input-text {width:655px;}
.chkout .form-list select {width:318px;}
.chkout .sp-methods select.month, .sp-methods select.year {width:120px;}
.chkout .form-list li.wide select {width:660px;}
.chkout .opc .buttons-set {margin:0;padding:0 20px 0 0;border:0;}
.chkout .opc .buttons-set .required {display:none;}
.chkout .opc .buttons-set .back-link {position:relative;right:-5px;display:inline;margin:0 0 0 415px;}
.chkout .opc .buttons-set .back-link a {display:inline-block;width:114px;height:41px;background:url(../images/btns.png) no-repeat 0 -1700px;text-indent:-3000px;}
.chkout .opc .buttons-set .back-link a:hover {background-position:0 -1750px;}
.chkout .buttons-set button.button {float:right;width:114px;height:41px;margin:0;background:url(../images/btns.png) no-repeat 0 -1600px;}
.chkout .buttons-set button.button:hover {background-position:0 -1650px;}
.chkout .buttons-set button.button span {display:none;}
.chkout .v-fix {width:130px;}
.chkout #checkout-review-table-wrapper {padding:20px;}
.chkout #checkout-review-table-wrapper dl {margin:0 0 0 530px;padding:8px 0;line-height:16px;color:#929292;}
.chkout #checkout-review-table-wrapper dl dt {float:left;width:50px;text-align:right;}
.chkout #checkout-review-table-wrapper dl dd {float:left;width:70px;padding:0 0 0 8px;text-align:right;}
.chkout #checkout-review-table-wrapper .tot {margin-top:10px;}
.chkout #checkout-review-table-wrapper .tot dt, .chkout #checkout-review-table-wrapper .tot dd {font-size:16px;}
.cartlist .data-table tfoot td .totinfo .tot dd {color:#4bc8b6;font-weight:bold;}
.chkout .col-right sidebar {float:right;width:200px;}
.chkout .block-progress dt {padding:5px;background:none;color:#4bc8b6;font-family: 'Trade Gothic W01 Bold',sans-serif;}
.chkout .block-progress dt a {font-size:12px;text-decoration:underline;color:#4bc8b6 !important;font-weight:normal;}
.chkout .block-progress dd {background:none;}
.chkout .block-title {margin:0 0 15px 0;padding:0 0 10px 0;background:url(../images/bg_underline.jpg) repeat-x 0 bottom;}
.chkout .block .block-title strong {font-size:18px;line-height:22px;color:#4bc8b6;font-family:'TradeGothicW01-BoldCn20 675334', sans-serif;font-weight:normal;letter-spacing:0;font-weight:normal;}
.chkout .thanks {padding:170px 20px 0 20px;background:url(../images/img_thanks.png) no-repeat center 45px;color:#999;line-height:16px;font-size:12px;text-align:center;}
.chkout .data-table {border-color:#2e2e2e;background-color:#ccc;color:#333;}
.chkout .data-table th {padding:3px 0;border-bottom:1px solid #2e2e2e;border-color:#2e2e2e;background-color:#999;color:#333;text-align:center;}
.chkout .data-table tr.last th {border-bottom:1px solid #2e2e2e !important;}
.chkout .data-table td {border-color:#2e2e2e;background-color:#ccc;}
.chkout #opc-review .product-name {color:#333;}

/* messages */
.note-msg, .notice-msg, .success-msg {height:33px !important;padding:17px 0 0 20px !important;margin:0 !important;border:0 !important;background:url(../images/bg_msg1.png) repeat-x 0 10px !important;font-size:12px !important;color:#5edbc9 !important;font-weight:bold !important;}
.error-msg {height:33px !important;padding:17px 0 0 40px !important;margin:0 !important;border:0 !important;background:url(../images/bg_msg2.png) no-repeat 0 10px !important;font-size:12px !important;color:#f1446f !important;font-weight:bold !important;}

/* International Checkout Button */
.cartlist .data-table tfoot td .btn-checkout-ic {background: url("../images/btns-ic.png") no-repeat scroll 0 -43px transparent;height: 41px;margin: 10px 0 0;width: 200px;}
.cartlist .data-table tfoot td .btn-checkout-ic:hover {background-position: 0 -1px;}
.cartlist .data-table tfoot td .btn-checkout-ic span {border:0;background:none;}
.cartlist .data-table tfoot td .btn-checkout-ic span span {display:none;}
